@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.animals-page-card{
    background-color: black;
    height: 100vh;
    background-size: cover;
}
.main-heading{
    font-size: 20px;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-family: "Roboto";
}
.turtle-img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
h1{
    font-size: 10px;
    font-weight: bold;
    font-family: Roboto;
    color: white;
}
p{
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto;
    color: white;
}

.view-turle-img{
    background-image: url("https://assets.ccbp.in/frontend/static-website/animals-turtle-img.png");
    height: 100vh;
    background-size: cover;
    
}


.view-raccon-img{
    background-image: url("https://assets.ccbp.in/frontend/static-website/animals-raccoon-img.png");
    height: 100vh;
    background-size: cover;
    
}

.view-kangaroo-img{
    background-image: url("https://assets.ccbp.in/frontend/static-website/animals-kangaroo-img.png");
    height: 100vh;
    background-size: cover;
    
}

.view-lion-img{
    background-image: url("https://assets.ccbp.in/frontend/static-website/animals-lion-img.png");
    height: 100vh;
    background-size: cover;
    
}
